.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogsItems {
  padding: 10px;
}
.dialogsItems a:active {
  color: rgb(60, 230, 125);
} 
.dialogsItems .dialog {
}
.messages {
  padding: 10px;
}
.messages .message {
}
.dialogItem {
  width: 20px;
  margin-right: 10px;
}
